<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<header>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<title>研修生新規作成</title>
		
	</header>
	<style>
		body{
			background-image: url("/img/bb.jpg");
			color:rgb(255, 255, 255);
			font-weight: bold;
		}
	</style>
	<body>
		<div class="mx-auto h1" style="text-align:center; margin-top: 20px; margin-bottom: 20px;">
			研修生 新規登録
		</div>
		<form method="post" id="form" enctype="multipart/form-data" action="/create_confirm">
			<div style="text-align:center; margin-top:20px;margin-bottom:20px;">
				<label for="name" style="margin-right:20px;">名前</label>
				<input type="text" placeholder="研修生 太郎" id="name" name="userName" 
					title="全角漢字・カタカナを入力してください。" />
			</div>
			<!-- <div style="text-align:center; margin-top:20px;margin-bottom:20px;">
				<label style="margin-right:20px;">メールアドレス</label>
				<input type="text" placeholder="XXX@XXX.XXX" id="email" name="userEmail" title="メールアドレスを入力してください。" >
			</div> -->
			<div style="text-align:center; margin-top:20px;margin-bottom:20px;">
				<label style="margin-right:20px;">メールアドレス</label>
				<input type="email" placeholder="XXX@XXX.XXX" id="email" name="userEmail"
					title="メールアドレスを入力してください。" onblur="checkEmail()"
					required>
				<p id="error" style="color: brown;"></p>
			</div>
			
			<div style="text-align:center; margin-top:20px;margin-bottom:20px;">
				<label for="file" style="margin-right:20px;">プロフィール画像</label>
				<input type="file" accept="image/*" id="img" name="img" multiple>
			</div>
			<div style="text-align:center; margin-top:20px;margin-bottom:20px;">
				<input class="btn btn-primary" type="submit" id="submit-button" value="確認" title="確認画面へ" />
				<a class="btn btn-secondary" href="/users/1" title="ユーザー一覧画面へ">キャンセル</a>
			</div>
		</form>
		<!-- <script th:src="@{/js/file_create.js}"></script>
		<script th:src="@{/js/file_create1.js}"></script> -->
		<script th:src="@{/js/invalid.js}"></script>
		
	</body>
</html>
