<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<header>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<title>研修生コミュニティ</title>
	</header>
	<style>
		body{
			background-image: url("/img/bb.jpg");
			color:rgb(255, 255, 255);
			font-weight: bold;
		}
	</style>
	<body>
		<div style="text-align:center">
			<h1>研修生 新規登録 確認</h1>
			<div style="margin-top:20px; margin-bottom:20px;">下記の情報で新規登録をします。よろしいですか？</div>
			<form method="post" enctype="multipart/form-data" action="/create_complete">
				<div>
					<label style="margin-right:20px;">名前</label>
					<label th:text="${confirmName}"></label>
					<input type="hidden" name="userName" th:value="${confirmName}" />
				</div>
				<div>
					<label style="margin-right:20px;">メールアドレス</label>
					<label th:text="${confirmEmail}"></label>
					<input type="hidden" name="userEmail" th:value="${confirmEmail}" />
				</div>
				<div>
					<label style="margin-right:20px;">プロフィール画像</label>
					<!-- <img id="img" name="imyguh" width="50" height="50"/> -->
					<img th:src="'data:image/png;base64,' + ${aa}" alt="image" width="50" height="50">
					<input type="hidden" name="img" th:value="${aa}"/>
					<input type="hidden" name="fileName" th:value="${fileName}"/>
				</div>
				<input class="btn btn-primary" type="submit" value="登録"/>
				<a class="btn btn-secondary" href="/users/1">キャンセル</a>
			</form>
			<!-- <script th:src="@{/js/file_create_confirm.js}"></script> -->
		</div>
	</body>
</html>
